<button mat-raised-button color="primary" (click)="back()">Back to Tickets</button>
<br />

<ng-container *ngIf="ticket != null">
  <h1>Ticket #{{ticket.serialNumber}}</h1>
  <br />
  <ng-container *ngFor="let box of ticket.ticketBoxes;index as i">

    <div>
      <p>Box #{{i+1}}</p>
      <p>
        <span>
          <mat-chip-listbox>
            <ng-container *ngFor="let number of box.numbers">
              <mat-chip color="primary">{{number}}</mat-chip>
            </ng-container>
          </mat-chip-listbox>
        </span>
      </p>
    </div>
  </ng-container>

  <br />
  <span *ngIf="ticket.superNumber != null">Superzahl: <mat-chip color="accent">{{ticket.superNumber}}</mat-chip></span>
  <br />
</ng-container>

<span *ngIf="errorMsg != null">{{errorMsg}}</span>

<br />
<button mat-raised-button color="primary" (click)="back()">Back to Tickets</button>
