.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}



.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;

  .board-bar {
    background: rgba(gray, 0.5);
    padding: 8px 15px;

    .board-name {
      font-size: 20px;
      font-weight: bold;
      color: white;
    }
  }

  .sidenav-container {
    background: transparent;
    min-height: 700px;


    .mat-sidenav {
      background: rgba(gray, 0.5);
      margin: 20px;
      padding: 10px;
    }

    
  }
}
